.menu {
    list-style: none;
    display: flex;
    margin-right: 10px;
}

.menu li {
    margin-left: 5px;
    margin-right: 25px;
}

.menu li a:hover {
    color: rgb(0, 0, 0);
}

.logout li {
    margin-left: 5px;
    margin-right: 25px;
}

.logout:hover {
    color: rgb(0, 0, 0);
    cursor: pointer
}

